/* 타입 선택자 */
pre {
    text-align: center;
}

h1 {
    color: royalblue;
}

/* id선택자 */

#sid01{
    color: red;
}

#sid02{
    color: greenyellow;
}

#sid03{
    background-color: goldenrod;
    color: lightsalmon;
}

/* class 선택자 */
.scls {
    color: springgreen;
}

/* 자식선택자 */

#at > p {
    color: steelblue;
}

#at > div > p {
    background-color: black;
    color: white;
}

/* 하위 선택자 */

div span {
    background-color: teal;
}

/* 인접 선택자 */

h3 + b {
    color : silver;
}

b + span {
    color : gold;
}

/* 속성선택자 */

p[title]{
    color: lime;
}

p[title="b"] {
    background-color: yellow;
}

/* 가성 클래스 선택자 */
a:link {
    color: hotpink;
    font-size: 20pt;
}

a:visited{
    color : skyblue;
    font-size: 50pt;
}

a:hover{
    background-color: maroon;
    font-size: 35pt;
}

a:active{
    color: royalblue;
}

input:checked{
    width: 100px;
    height: 100px;
}

/* 그룹 선택자 */

#my p , #my pre , #my strong {
    background-color: aqua;
    color: black;
}

/* 종속선택자 */

li.scls01{
    background-color: cornflowerblue;
}
li.scls02#sidul{
    font-size: 55pt;
}